.container {
            background: rgb(227, 227, 227);
            padding: 10px;
            border-radius: 8px;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
            margin-bottom: 10px;
        }

        .containervnutro {
            text-align: center;
            display: flex;
            flex-direction: column;
            /* pod seba */
            align-items: center;
            /* horizontálne */
            background: rgb(224, 224, 224);
            padding: 10px;
            border-radius: 8px;
            /* box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);*/
            margin: 10px 0px;
        }


        .columns {
            display: flex;
            justify-content: center;
            gap: 20px;
            /* medzera medzi stĺpcami */
        }

        .column {
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
            background: rgb(239, 239, 239);
            flex: 1;
            /* oba stĺpce rovnaká šírka */
        }

        .vector-display {

            font-family: monospace;
            letter-spacing: 3px;
            font-size: 1rem;
            background: #b8e9aa;
            padding: 5px;
            text-align: center;
            border-radius: 4px;
            margin: 3px 3px;
            word-break: break-all;
            display: inline-block;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);

        }

        .matice {
            font-family: monospace;
            letter-spacing: 3px;
            background: #fffc64;
            padding: 5px;
            white-space: pre;
            border-radius: 4px;
            text-align: center;
            display: inline-block;
            margin: 3px 3px;
            font-size: 1rem;
            line-height: 1.3;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
        }


        button {
            padding: 5px 5px;
            background-color: #27ae60;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 0.9rem;
            font-weight: bold;
            margin: 4px 0px;
        }

        button:hover {
            background-color: #219150;
        }


        .tooltip {
            position: relative;
            display: inline-block;
        }

        .tooltip-text {
            position: absolute;
            top: 50%;
            left: 110%;
            transform: translateY(-50%);

            background: #007311;
            color: white;
            padding: 10px 12px;
            border-radius: 6px;
            font-size: 0.95rem;
            white-space: nowrap;

            opacity: 0;
            visibility: hidden;
            transition: opacity 0.2s ease;
            z-index: 100;
            box-shadow: 0px 5px 15px rgba(0,0,0,0.4); 
        }

        /* šípka vľavo */
        .tooltip-arrow {
            position: absolute;
            top: 50%;
            right: 100%;
            transform: translateY(-50%);

            width: 0;
            height: 0;
            border-top: 6px solid transparent;
            border-bottom: 6px solid transparent;
            border-right: 6px solid #007311;;
        }

        .tooltip:hover .tooltip-text {
            opacity: 1;
            visibility: visible;
        }

        .tooltip.left .tooltip-text {
            left: auto;
            right: 110%;
        }

        .tooltip.left .tooltip-arrow {
            right: auto;
            left: 100%;
            border-right: none;
            border-left: 6px solid #007311;;
        }

        .small-input {
            width: 3ch;
            /* šírka cca na 3 znaky */
            text-align: center;
            border-radius: 4px;
        }

        .ok {
            color: green;
            font-weight: bold;
        }

        .err {
            color: red;
            font-weight: bold;
        }

        /* ZÁKLAD */
        .arrow {
            position: relative;
            background: #ffffff;
            color: #333;
            height: 80px;
            line-height: 37px;
            padding: 0px 20px;
            display: inline-block;
            font-family: 'Segoe UI', sans-serif;
            font-weight: bold;
            text-align: center;
            margin-bottom: 10px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        /* spoločný hrot */
        .arrow::after {
            content: "";
            position: absolute;
            top: 0;
            width: 0;
            height: 0;
            border-top: 40px solid transparent;
            border-bottom: 40px solid transparent;
        }

        /* MODIFIER – LEFT */
        .arrow--left {
            border-radius: 0 4px 4px 0;
            margin-left: 40px;
        }

        .arrow--left::after {
            left: -40px;
            border-right: 40px solid #ffffff;
        }

        /* MODIFIER – RIGHT */
        .arrow--right {
            border-radius: 4px 0 0 4px;
            margin-right: 40px;
        }

        .arrow--right::after {
            right: -40px;
            border-left: 40px solid #ffffff;
        }


        .bit-btn {
            font-size: 1rem;
            font-family: monospace;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: all 0.2s ease;
            padding: 10px;
            margin: 5px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            color: #222
        }

        .bit-btn:hover {
            background: #bababa;
        }

        /* Štát pre 0 */
        .state-0 {
            background-color: #aeb5b6;
            /* Červená */
        }
           .state-0-iny {
            background-color: #cfcfcf;
            /* Červená */
        }

        /* Štát pre 1 */
        .state-1 {
            background-color: #fff59d;
            /* Zelená */
        }

        .card-link {
            text-decoration: none;
            color: inherit;
        }

        .hqc-table {
            border-collapse: collapse;
            /*width: 100%;*/
            border: 5px solid white;
            /* Hrubý biely vonkajší rám */
            background-color: #007311;
            color: white;
            text-align: center;
        }

        /* Tu definujeme biely rámik pre všetky bunky naraz */
        .hqc-table th,
        .hqc-table td {
            border: 3px solid white;
            padding: 6px;
        }

        .hqc-table thead {
            background-color: #08901c;
        }

      .floating-green-button {
  position: fixed;        /* Fixná pozícia na obrazovke */
  bottom: 20px;           /* Vzdialenosť od spodného okraja */
  left: 50%;              /* Posun do stredu (ľavý okraj tlačidla je v strede) */
  transform: translateX(-50%); /* Posun späť o polovicu šírky tlačidla pre dokonalý stred */
  
  /* Zmenšená veľkosť */
  padding: 10px 20px;     
  font-size: 14px;        
  
  background-color: #27ae60; 
  color: white;           
  font-family: sans-serif;
  font-weight: bold;
  border: 3px solid white; /* Mierne tenší rám k menšiemu tlačidlu */
  border-radius: 8px;    
  box-shadow: 0px 5px 15px rgba(0,0,0,0.3); 
  z-index: 9999;          
  cursor: pointer;
  
  /* Zákaz lámania textu */
  white-space: nowrap;
  transition: transform 0.2s, background-color 0.2s;
}

 .scenar-box {
    /* Základný stav - vidno len "Scenár 1" */
    background-color: #ffc261;
    color: white;
    text-align: center;
    border: 2px solid #ff9914;
    font-weight: bold;
    padding: 20px;
    border-radius: 10px;
    transition: all 0.3s ease; /* Plynulá zmena všetkého */
    cursor: pointer;
    font-family: sans-serif;
    
    /* Schováme pôvodný dlhý text, kým nie je hover */
    font-size: 0; 
  }
  .scenar-box button {
    display: none;
  }
  .scenar-box:hover button {
    display: inline-block;
    margin-top: 10px;
  }

  /* Toto pridá text "Scenár 1" */
  .scenar-box::before {
   content: attr(data-title);
    font-size: 20px; /* Aby bol tento text viditeľný */
  }

  /* STAV PO NAJAZDENÍ MYŠOU (HOVER) */
  .scenar-box:hover {
    border: 4px solid #ff9914;
    background-color: #ff9941;
    color: white;
    font-size: 16px; /* Ukáže sa hlavný text */
    font-weight: normal;
  }

  /* Pri hoveri schováme nápis "Scenár 1" */
  .scenar-box:hover::before {
    display: none;
  }